<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huyy.springcloud.mapper.PaymentMapper">

  <!--插入数据-->
  <insert id="createPayment" parameterType="String" useGeneratedKeys="true">
      <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      </selectKey>
      insert into payment(serial) values(#{serial});
  </insert>

  <!--查找数据-->
  <select id="getPaymentById" parameterType="Long" resultType="com.huyy.springcloud.bean.Payment">
            select id,serial from payment where id=#{id};
  </select>

</mapper>