<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huyy.mybatis.mapper.StudentMapper">
	
	<!--      一、关联集合对象 ***********N+1查询                                            -->
	<select id="selectByTid" parameterType="int" resultType="student">
		select * from student where tid=#{0}
	</select> 

</mapper>












