<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namesapce:理解成实现类的全路径(包名+类名) -->
<mapper namespace="com.huyy.mapper.UserMapper" >
	
	<select id="selAll" resultType="User">
		select * from user
	</select>
	
	<select id="selectById" parameterType="int" resultType="User">
		select * from user where id=#{id}
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into user (id,name)values(#{id},#{name})
	</insert>
	
	<update id="updateUserBYId" parameterType="User">
		update user set name=#{name} where id=#{id}
	</update>
	
	<delete id="deleteUserById" parameterType="int">
		delete from user where id=#{id}
	</delete>
</mapper>
