<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="peo" class="com.huyy.pojo.People">
    <!--设置index,name,type -->
    <constructor-arg index="0" name="id" type="int" value="3"></constructor-arg>
    <constructor-arg index="1" name="name" type="String" value="sam"></constructor-arg>
    </bean>
    <!-- 实例工厂 -->
    <bean id="factory" class="com.huyy.pojo.PeopleFactory"></bean>
    <bean id="peo1" factory-bean="factory" factory-method="newInstance"></bean>
    <!-- 静态工厂 -->
    <bean id="peo2" class="com.huyy.pojo.PeopleStaticFactory" factory-method="newInstance"></bean>
</beans>
