<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 配置通知类对象 -->
	<bean id="myadvice2" class="com.huyy.advice.MyAdvice02"></bean>

	<!-- 配置切面 -->
	<aop:config>
		<!-- 创建切面 -->
		<aop:aspect ref="myadvice2">
			<!-- 切点 -->
			<aop:pointcut expression="execution(* com.huyy.test.Demo.demo2())" id="mypoint" />
			<!-- 通知 -->
			<aop:before method="mybefore" pointcut-ref="mypoint"/>
			<aop:after method="myafter" pointcut-ref="mypoint"/>
		</aop:aspect>
	</aop:config>

	<!-- 配置Demo类 -->
	<bean id="demo" class="com.huyy.test.Demo"></bean>

	<!-- <bean id="mythrow" class="com.huyy.advice.MyThrowAdvice"></bean> <aop:config> 
		<aop:aspect ref="mythrow"> <aop:pointcut expression="execution(* com.huyy.test.Demo.demo1())" 
		id="mypoint" /> <aop:after-throwing method="myexception" pointcut-ref="mypoint"/> 
		</aop:aspect> </aop:config> -->

</beans>

